
{# Шаблон списка моделей с возможностью редактировать, кликнув по строке модели #}

{% extends "core/layout.html" %}
{% load staticfiles %}

{% block content %}

  <script type="text/javascript" src="{% static 'core/js/list_edit_in_place.js' %}"></script>

  <table id='tasks-list' class="list list_edit-in-place">
    <tr>
      <td>
        <input type="hidden" class="add-id" name="id">
      </td>
      <td>
        <input type="text" class="add-title" name="title">
      </td>
      <td>
        <input type="text" class="add-priority" name="priority">
      </td>
      <td>
        <input type="text" class="add-due_date" name="due_date">
      </td>
      <td>
        <button id="add-btn">Save</button>
      </td>
    </tr>
  </table>

  {% include "core/task_item_backbone_tpl.html" %}
{% endblock %}
