
{% extends "core/layout.html" %}
{% load staticfiles %}

{% block js %}
  {{ super }}
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
  <script type="text/javascript" src="{% static 'core/js/list_edit_in_place.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'core/css/list_edit_in_place.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="col-md-6">
    <ul class="models-list">
    </ul>
  </div>
  <div class="col-md-6">
  </div>
</div>
{% endblock %}
