
<script type="text/template" id="{% block id %} {% endblock %}">
    <% _.each(fields, function(f) { %>
        <td>
          {% block field_view %}
          {% endblock %}

          {% block field_edit %}
              <span class="field-edit">
                <% if (f.type == 'char') { %>
                    <input id="<%= f.name %>" type="text" class="edit-<%= f.name %>" name="<%= f.name %>" value="<%= f.value %>"/>
                <% } %>
                <% if (f.type == 'integer') { %>
                    <input id="<%= f.name %>" type="number" class="edit-<%= f.name %>" name="<%= f.name %>" value="<%= f.value %>"/>
                <% } %>
                <% if (f.type == 'date') { %>
                    <input id="<%= f.name %>" type="date" class="edit-<%= f.name %>" name="<%= f.name %>" value="<%= f.value %>"/>
                <% } %>
                <% if (f.type == 'id') { %>
                    <input id="<%= f.name %>" type="hidden" class="edit-<%= f.name %>" name="<%= f.name %>" value="<%= f.value %>"/>
                <% } %>
              </span>
          {% endblock %}
        </td>
    <% }); %>

    <td>
        {% block buttons %}
        {% endblock %}
    </td>
</script>
