
<script type="text/template" id="task-item-template">
    <td>
      <span class="field-view">
        <%- id %>
      </span>
      <span class="field-edit">
        <input type="hidden" class="edit-id" name="id" value="<%- id %>">
      </span>
    </td>

    <td>
      <span class="field-view">
        <%- title %>
      </span>
      <span class="field-edit">
        <input type="text" class="edit-title" name="title" value="<%- title %>">
      </span>
    </td>
    
    <td>
      <span class="field-view">
        <%- priority %>
      </span>
      <span class="field-edit">
        <input type="text" class="edit-priority" name="priority" value="<%- priority %>">
      </span>
    </td>
    
    <td>
      <span class="field-view">
        <%- due_date %>
      </span>
      <span class="field-edit">
        <input type="text" class="edit-due_date" name="due_date" value="<%- due_date %>">
      </span>
    </td>

    <td>
      <button class="edit-btn">Edit</button>
      <button class="save-btn">Save</button>
    </td>
</script>
